body{
    margin: 0px;
    padding: 0px;
    font-size: 8vw;
}
.explain_text{
    font-size: 0.7em;
    width: 100%;
    text-shadow: #fff 0 0 0.2em; 
    text-align: center;
    font-family: sans-serif;

}
.next_page{
    background-color: lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    margin-bottom: 2em;
    padding: 1em;
    font-size: 0.6em;
    border-radius: 0.5em;
}

.next_page:active{
    background-color: gray;
    display: block;
    margin: auto;
    padding: 1em;
    font-size: 0.6em;
    border-radius: 0.5em;
}

.credit{
    font-size: 1em;
    color: #dddddd;
}
.play-txt{
    font-size: 2em;
    color:#fff;
    text-shadow: 3px 3px 0 #f00;
}
.simple-box{
    border: #ddd solid 0.05em;
    border-radius: 0.5em;
    margin: 1em;
}